<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>/TLS-war</display-name>
    <servlet>
        <servlet-name>TLSServlet</servlet-name>
        <servlet-class>servlet.TLSServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <jsp-file>/action.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <jsp-file>/Error.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ListBooks</servlet-name>
        <jsp-file>/ListBooks.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <jsp-file>/welcome.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Renew</servlet-name>
        <jsp-file>/Renew.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <jsp-file>/search.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>searchAuthor</servlet-name>
        <jsp-file>/searchAuthor.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>searchTitle</servlet-name>
        <jsp-file>/searchTitle.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>searchError</servlet-name>
        <jsp-file>/searchError.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>re</servlet-name>
        <jsp-file>/re.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewReservations</servlet-name>
        <jsp-file>/ViewReservations.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <jsp-file>/delete.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>logFail</servlet-name>
        <jsp-file>/logFail.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>/action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBooks</servlet-name>
        <url-pattern>/ListBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TLSServlet</servlet-name>
        <url-pattern>/TLSServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Renew</servlet-name>
        <url-pattern>/Renew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAuthor</servlet-name>
        <url-pattern>/searchAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchTitle</servlet-name>
        <url-pattern>/searchTitle</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>searchError</servlet-name><url-pattern>/searchError</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>re</servlet-name>
        <url-pattern>/re</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReservations</servlet-name>
        <url-pattern>/ViewReservations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>logFail</servlet-name><url-pattern>/logFail</url-pattern></servlet-mapping><session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    </web-app>
